
@{
    ViewBag.Title = "EntradaEmpleadosMes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EntradaEmpleadosMes</h2>
<form action="/SERVICIOS/EntradaEmpleadosMesresultado" method="post">
    <input type="text" name="Mes" placeholder="MES" />
    <br /><br />
    <input type="submit" value="BUSCAR" class="btn btn-primary" />
</form>
