
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GESTIONAR DEPARTAMENTOS</h2>
<a href="/DEPARTAMENTOS/Create" class="btn btn-warning">CREAR DEPARTAMENTO</a>
<br />
<br />
<a href="/DEPARTAMENTOS/Details" class="btn btn-warning">VER DEPARTAMENTOS</a>
<br />
<br />
<a href="/DEPARTAMENTOS/Details" class="btn btn-warning">EDITAR DEPARTAMENTOS</a>
<br />
<br />
<a href="/DEPARTAMENTOS/Details" class="btn btn-danger">ELIMINAR DEPARTAMENTOS</a>

