
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GESTIONAR CARGOS</h2>
<a href="/CARGOS/Create" class="btn btn-primary">INSERTAR CARGO</a>
<br />
<br />
<a href="/CARGOS/Details" class="btn btn-primary">VER CARGOS</a>
<br />
<br />
<a href="/CARGOS/Details" class="btn btn-primary">EDITAR CARGO</a>
<br />
<br />
<a href="/CARGOS/Details" class="btn btn-danger">ELIMINAR CARGO</a>

