
@{
    ViewBag.Title = "Index";
}

<h2>GESTIONAR EMPLEADOS</h2>
<a href="/EMPLEADOS/Create" class="btn btn-success">CREAR EMPLEADO</a>
<br />
<br />
<a href="/EMPLEADOS/Details" class="btn btn-success">VER EMPLEADOS</a>
<br />
<br />
<a href="/EMPLEADOS/Details" class="btn btn-success">EDITAR EMPLEADO</a>
<br />
<br />
<a href="/EMPLEADOS/Details" class="btn btn-danger">ELIMINAR EMPLEADOS</a>
