
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GESTIONAR SALIDA DE EMPLEADOS</h2>
<a href="/SALIDAS/Create" class="btn btn-success">CREAR SALIDA</a>
<br />
<br />
<a href="/SALIDAS/Details" class="btn btn-success">VER SALIDAS</a>
<br />
<br />
<a href="/SALIDAS/Details" class="btn btn-success">EDITAR SALIDA</a>
<br />
<br />
<a href="/SALIDAS/Details" class="btn btn-danger">ELIMINAR SALIDA</a>

