
@{
    ViewBag.Title = "Index";
}

<h2>GESTION DE RECURSOS HUMANOS </h2>
<img src="@Url.Content("~/images/management.svg")" width="50px" height="50px" />
<a href="/HOME/Mantenimiento" class="btn btn-success">MANTENIMIENTO</a>
<br />
<br />
<img src="@Url.Content("~/images/planner.svg")" width="50px" height="50px" />
<a href="/HOME/Procesos" class="btn btn-warning">PROCESOS</a>
<br />
<br />
<img src="@Url.Content("~/images/report.svg")" width="50px" height="50px" />
<a href="/HOME/Informes" class="btn btn-primary">INFORMES</a>
