
@{
    ViewBag.Title = "Informes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <img src="@Url.Content("~/images/report.svg")" width="200px" height="200px" />
    <br />
    <a href="#" class="btn btn-success">BUSCAAR NOMINAS</a>
    <br />
    <br />
    <a href="/SERVICIOS/EmpleadosActivo" class="btn btn-warning">BUSCAR EMPLEADOS ACTIVOS</a>
    <br />
    <br />
    <a href="/SERVICIOS/EmpleadosInactivos" class="btn btn-primary">GENERAR LISTA DE EMPLEADOS INACTIVOS</a>
    <br />
    <br />
    <a href="/SERVICIOS/DepartamentosLista" class="btn btn-info">GENERAR LISTA DE DEPARTAMENTOS</a>
    <br />
    <br />
    <a href="/SERVICIOS/CargosLista" class="btn btn-success">GENERAR LISTA DE CARGOS</a>
    <br />
    <br />
    <a href="/SERVICIOS/EntradaEmpleadosMes" class="btn btn-warning">BUSCAR ENTRADAS DE EMPLEADOS POR DETERMINADO MES</a>
    <br />
    <br />
    <a href="/SERVICIOS/SalidaEmpleadosMes" class="btn btn-primary">BUSCAR SALIDA DE EMPLEADOS POR DETERMINADO MES</a>
    <br />
    <br />
    <a href="/SERVICIOS/PermisosEmpBusca" class="btn btn-info">VER PERMISOS POR EMPLEADO</a>
</div>


