
@{
    ViewBag.Title = "Mantenimiento";
}



<div class="container">
    <img src="@Url.Content("~/images/management.svg")" width="200px" height="200px" />
    <br />
    <br />
    <a href="/EMPLEADOS/Index" class="btn btn-success">GESTIONAR EMPLEADOS</a>
    <br />
    <br />
    <a href="/DEPARTAMENTOS/Index" class="btn btn-warning">GESTIONAR DEPARTAMENTOS</a>
    <br />
    <br />
    <a href="/CARGOS/Index" class="btn btn-primary">GESTIONAR CARGOS</a>
</div>


