
@{
    ViewBag.Title = "Procesos";
}

<div class="container">
    <img src="@Url.Content("~/images/planner.svg")" width="200px" height="200px" />
    <br />
    <a href="/NOMINAS/Index" class="btn btn-primary">GESTIONAR NOMINAS</a>
    <br />
    <br />
    <a href="/SALIDAS/Index" class="btn btn-success">GESTIONAR SALIDAS</a>
    <br />
    <br />
    <a href="/VACACIONES/Index" class="btn btn-warning">GESTIONAR VACACIONES</a>
    <br />
    <br />
    <a href="/PERMISOS/Index" class="btn btn-info">GESTIONAR PERMISOS</a>
    <br />
    <br />
    <a href="/LICENCIAS/Index" class="btn btn-primary">GESTIONAR LICENCIAS</a>
</div>

