
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GESTIONAR NOMINAS</h2>
<a href="/NOMINAS/Create" class="btn btn-success">REGISTRAR NOMINAS</a>
<br />
<br />
<a href="/NOMINAS/Details" class="btn btn-success">VER NOMINAS</a>
<br />
<br />
<a href="/NOMIMAS/Details" class="btn btn-success">EDITAR NOMINAS</a>
<br />
<br />
<a href="/NOMINAS/Details" class="btn btn-danger">ELIMINAR NOMINA</a>

