
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GESTIONAR LICENCIAS DE EMPLEADOS</h2>
<a href="/LICENCIAS/Create" class="btn btn-primary">REGISTRAR LICENCIA</a>
<br />
<br />
<a href="/LICENCIAS/Details" class="btn btn-primary">VER LICENCIAS</a>
<br />
<br />
<a href="/LICENCIAS/Details" class="btn btn-primary">EDITAR LICENCIA</a>
<br />
<br />
<a href="/LICENCIAS/Details" class="btn btn-danger">ELIMINAR LICENCIA</a>

