
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GESTIONAR VACACIONES DE EMPLEADOS</h2>
<a href="/VACACIONES/Create" class="btn btn-warning">REGISTRAR VACACIONES</a>
<br />
<br />
<a href="/VACACIONES/Details" class="btn btn-warning">VER VACACIONES</a>
<br />
<br />
<a href="/VACACIONES/Details" class="btn btn-warning">EDITAR VACACIONES</a>
<br />
<br />
<a href="/VACACIONES/Details" class="btn btn-danger">ELIMINAR VACACIONES</a>

